In [45]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [126]:
actual_results = pd.read_csv("Lucene//dev_query_results_small.csv")
our_results_default = pd.read_csv("Lucene/results_small.csv", sep="\t")

In [127]:
actual_results['rank'] = actual_results.groupby(['Query_number']).cumcount()+1

In [128]:
merged_default = pd.merge(actual_results, our_results_default,  how='left', left_on=['Query_number','doc_number'], right_on = ['Query_number','Document_number'])

In [129]:
merged_default[["rating", "rank"]].corr() # 0.146836 # -0.014408

          rating      rank
rating  1.000000 -0.045237
rank   -0.045237  1.000000

In [130]:
merged_default[["rating", "rank"]].corr(method="spearman") # 0.250976 # 0.34018 # 0.211186

         rating     rank
rating  1.00000 -0.06271
rank   -0.06271  1.00000

In [131]:
merged_default = merged_default.fillna(0)

In [134]:
merged_default.groupby(['rank', 'rating']).count()

             Query_number  doc_number  Document_number  score
rank rating
1    0.0               59          59               59     59
     1.0              103         103              103    103
     2.0               39          39               39     39
     3.0               11          11               11     11
     4.0                8           8                8      8
     5.0                8           8                8      8
     6.0                5           5                5      5
     7.0                6           6                6      6
     8.0                5           5                5      5
     9.0                3           3                3      3
     10.0               1           1                1      1
2    0.0                4           4                4      4
     1.0                1           1                1      1